html, 
body, 
#view-port {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}
.dx-theme-win8 .layout-content {
    background: #1D1D1D;
}
.dx-theme-win8 .dx-toolbar .dx-toolbar-label {
    font-size: 25pt;
}
.dx-theme-win8 .dx-toolbar {
    height: 45px;
    opacity: 1;
}
.dx-theme-win8 .slideout-layout .layout-header {
    height: 45px;
}
.dx-theme-win8 .slideout-layout .layout-content {
    top: 45px;
}
.dx-theme-win8 .dx-toolbar .dx-toolbar-item.dx-toolbar-button {
    padding: 0 9px;
}
.dx-theme-win8 .dx-toolbar .dx-button.dx-button-back .dx-button-back-arrow {
    width: 20px;
    height: 20px;
}
.dx-theme-win8 .dx-button .dx-icon {
    width: 20px;
    height: 20px;
}