<div data-options="dxView : { name: 'IconSet', title: 'Icons' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div class="content" data-bind="dxScrollView: { }">
            <br />
            <div class="icon-set">
                <div class="icon-box">
                    <div class="dx-icon dx-icon-airplane"></div>
                    <div class="icon-title">Airplane</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-arrowdown"></div>
                    <div class="icon-title">Arrowdown</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-arrowleft"></div>
                    <div class="icon-title">Arrowleft</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-arrowright"></div>
                    <div class="icon-title">Arrowright</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-arrowup"></div>
                    <div class="icon-title">Arrowup</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-bookmark"></div>
                    <div class="icon-title">Bookmark</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-box"></div>
                    <div class="icon-title">Box</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-car"></div>
                    <div class="icon-title">Car</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-card"></div>
                    <div class="icon-title">Card</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-cart"></div>
                    <div class="icon-title">Cart</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-chart"></div>
                    <div class="icon-title">Chart</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-clock"></div>
                    <div class="icon-title">Clock</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-close"></div>
                    <div class="icon-title">Close</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-comment"></div>
                    <div class="icon-title">Comment</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-doc"></div>
                    <div class="icon-title">Doc</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-download"></div>
                    <div class="icon-title">Download</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-edit"></div>
                    <div class="icon-title">Edit</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-email"></div>
                    <div class="icon-title">Email</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-event"></div>
                    <div class="icon-title">Event</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-favorites"></div>
                    <div class="icon-title">Favorites</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-find"></div>
                    <div class="icon-title">Find</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-folder"></div>
                    <div class="icon-title">Folder</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-food"></div>
                    <div class="icon-title">Food</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-gift"></div>
                    <div class="icon-title">Gift</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-globe"></div>
                    <div class="icon-title">Globe</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-group"></div>
                    <div class="icon-title">Group</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-help"></div>
                    <div class="icon-title">Help</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-home"></div>
                    <div class="icon-title">Home</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-image"></div>
                    <div class="icon-title">Image</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-info"></div>
                    <div class="icon-title">Info</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-key"></div>
                    <div class="icon-title">Key</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-like"></div>
                    <div class="icon-title">Like</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-map"></div>
                    <div class="icon-title">Map</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-menu"></div>
                    <div class="icon-title">Menu</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-money"></div>
                    <div class="icon-title">Money</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-music"></div>
                    <div class="icon-title">Music</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-percent"></div>
                    <div class="icon-title">Percent</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-photo"></div>
                    <div class="icon-title">Photo</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-preferences"></div>
                    <div class="icon-title">Preferences</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-product"></div>
                    <div class="icon-title">Product</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-refresh"></div>
                    <div class="icon-title">Refresh</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-remove"></div>
                    <div class="icon-title">Remove</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-runner"></div>
                    <div class="icon-title">Runner</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-tags"></div>
                    <div class="icon-title">Tags</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-tel"></div>
                    <div class="icon-title">Tel</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-tips"></div>
                    <div class="icon-title">Tips</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-todo"></div>
                    <div class="icon-title">Todo</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-toolbox"></div>
                    <div class="icon-title">Toolbox</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-user"></div>
                    <div class="icon-title">User</div>
                </div>
                <div class="icon-box">
                    <div class="dx-icon dx-icon-save"></div>
                    <div class="icon-title">Save</div>
                </div>
            </div>
        </div>
    </div>
</div>